
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/admin.cshtml";
}

<div style="text-align-last:center">
    <h2 style="color:red; font-weight:200; align-self:center"><b>Chào mừng đến với trang "Người cầm quyền"</b></h2>
</div>


