@model QuanLyBanSach.Models.Sach
<div>
    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
        @Model.TenSach
    </h4>

    <span class="mtext-106 cl2">
        @Model.GiaBan
    </span>

    <p class="stext-102 cl3 p-t-23">
        @Model.MoTa
    </p>
    <!-- Thêm các trường thông tin khác nếu cần -->
</div>
